In [24]:
# Create a practice set of random latitude and longitude combinations.
lats = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
lngs = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
lat_lngs = zip(lats, lngs)

In [25]:
coordinates = list(lat_lngs)

In [26]:
for coordinate in coordinates:
    print(coordinate[0],coordinate[1])

25.12903645 -67.59741259
25.92017388 11.09532135
26.62509167 74.84233102
-59.98969384 -76.89176677
37.30571269 -61.13376282

In [27]:
coordinates

[(25.12903645, -67.59741259),
 (25.92017388, 11.09532135),
 (26.62509167, 74.84233102),
 (-59.98969384, -76.89176677),
 (37.30571269, -61.13376282)]

In [28]:
from citipy import citipy
import pprint

In [29]:
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0],coordinate[1]).city_name,
         citipy.nearest_city(coordinate[0],coordinate[1]).country_code)

cockburn town tc
gat ly
parvatsar in
punta arenas cl
saint george bm

In [30]:
#import tyhe requests library
import requests

#import the api key
from config import weather_api_key

In [31]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=dddd01a812bfdff86e5fe3b0df2b800c

In [32]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=dddd01a812bfdff86e5fe3b0df2b800c&q=Boston

In [34]:
boston_data = requests.get(city_url).json()
boston_data

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02d'}],
 'base': 'stations',
 'main': {'temp': 44.35,
  'feels_like': 39.34,
  'temp_min': 41.02,
  'temp_max': 47.44,
  'pressure': 1028,
  'humidity': 57},
 'visibility': 10000,
 'wind': {'speed': 9.22, 'deg': 180},
 'clouds': {'all': 20},
 'dt': 1669309472,
 'sys': {'type': 2,
  'id': 2013408,
  'country': 'US',
  'sunrise': 1669290366,
  'sunset': 1669324570},
 'timezone': -18000,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [36]:
# Import the datetime module from the datetime library.
from datetime import datetime
# Get the date from the JSON file.
date = boston_data["dt"]
# Convert the UTC date to a date format with year, month, day, hours, minutes, and seconds.
datetime.utcfromtimestamp(date).strftime("%Y-%m-%d %H:%M:%S")

'2022-11-24 17:04:32'

In [39]:
import pandas as pd
practice_data = {"January":[1,4,6,13,31],
                "February":[1,7,9,20,28],
                "March":[1,2,17,20,25]}
practice_df = pd.DataFrame(practice_data)
practice_df

   January  February  March
0        1         1      1
1        4         7      2
2        6         9     17
3       13        20     20
4       31        28     25

1