In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from citipy import citipy
import requests
from config import weather_api_key
import time
from datetime import datetime

In [57]:
lats = np.random.uniform(-90,90,size=75)
lngs = np.random.uniform(-90,90,size=75)

lats_lngs = zip(lats,lngs)
lats_lngs

In [58]:
coordinates = list(lats_lngs)

In [59]:
cities = []
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0],coordinate[1]).city_name
    if city not in cities:
        cities.append(city)
print(len(cities))

61

In [60]:
# Create an endpoint URL for a city.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
city_weather.json()

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02d'}],
 'base': 'stations',
 'main': {'temp': 46.06,
  'feels_like': 42.48,
  'temp_min': 43.18,
  'temp_max': 48.72,
  'pressure': 1027,
  'humidity': 55},
 'visibility': 10000,
 'wind': {'speed': 6.91, 'deg': 190},
 'clouds': {'all': 20},
 'dt': 1669313285,
 'sys': {'type': 2,
  'id': 2013408,
  'country': 'US',
  'sunrise': 1669290366,
  'sunset': 1669324570},
 'timezone': -18000,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [45]:
boston_data = city_weather.json()
boston_data["sys"]["country"]

'US'

In [48]:
lat = boston_data["coord"]["lat"]
lng = boston_data["coord"]["lon"]
max_temp = boston_data["main"]["temp_max"]
humidity = boston_data["main"]["humidity"]
clouds = boston_data["clouds"]["all"]
wind = boston_data["wind"]["speed"]
print(lat, lng, max_temp, humidity, clouds, wind)

42.3584 -71.0598 47.44 57 20 9.22

In [61]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | tiznit
Processing Record 2 of Set 1 | vila franca do campo
Processing Record 3 of Set 1 | port alfred
Processing Record 4 of Set 1 | ushuaia
Processing Record 5 of Set 1 | cape town
Processing Record 6 of Set 1 | orebro
Processing Record 7 of Set 1 | mahibadhoo
Processing Record 8 of Set 1 | lagoa
Processing Record 9 of Set 1 | villazon
Processing Record 10 of Set 1 | kaoma
Processing Record 11 of Set 1 | east london
Processing Record 12 of Set 1 | qaanaaq
Processing Record 13 of Set 1 | manicore
Processing Record 14 of Set 1 | husavik
Processing Record 15 of Set 1 | touros
Processing Record 16 of Set 1 | hermanus
Processing Record 17 of Set 1 | kuche
City not found. Skipping...
Processing Record 18 of Set 1 | mutsamudu
City not found. Skipping...
Processing Record 19 of Set 1 | salalah
Processing Record 20 of Set 1 | faya
Processing Record 21 of Set 1 | aybak
City not found. Skipping...
Processing Record 22 of Set 1 | azimur
City not found. Skipping...
Processing Record 23 of Set 1 | olafsvik
Processing Record 24 of Set 1 | bambous virieux
Processing Record 25 of Set 1 | jamestown
Processing Record 26 of Set 1 | hamilton
Processing Record 27 of Set 1 | grand gaube
Processing Record 28 of Set 1 | derzhavinsk
Processing Record 29 of Set 1 | mpongwe
Processing Record 30 of Set 1 | kutum
Processing Record 31 of Set 1 | ponta do sol
Processing Record 32 of Set 1 | dikson
Processing Record 33 of Set 1 | mar del plata
Processing Record 34 of Set 1 | sorland
Processing Record 35 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 36 of Set 1 | benha
City not found. Skipping...
Processing Record 37 of Set 1 | nadym
Processing Record 38 of Set 1 | zemio
Processing Record 39 of Set 1 | punta arenas
Processing Record 40 of Set 1 | caravelas
Processing Record 41 of Set 1 | morondava
Processing Record 42 of Set 1 | kayerkan
Processing Record 43 of Set 1 | chapais
Processing Record 44 of Set 1 | muli
Processing Record 45 of Set 1 | los llanos de aridane
Processing Record 46 of Set 1 | ustye
Processing Record 47 of Set 1 | chuy
Processing Record 48 of Set 1 | yar-sale
Processing Record 49 of Set 1 | kembe
Processing Record 50 of Set 1 | nantucket
Processing Record 1 of Set 2 | sao filipe
Processing Record 2 of Set 2 | cabedelo
Processing Record 3 of Set 2 | clyde river
Processing Record 4 of Set 2 | bredasdorp
Processing Record 5 of Set 2 | mahebourg
Processing Record 6 of Set 2 | garh maharaja
Processing Record 7 of Set 2 | rocha
Processing Record 8 of Set 2 | cidreira
Processing Record 9 of Set 2 | busselton
Processing Record 10 of Set 2 | illoqqortoormiut
City not found. Skipping...
Processing Record 11 of Set 2 | salta
-----------------------------
Data Retrieval Complete
-----------------------------

In [62]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Tiznit,29.5833,-9.5000,66.07,41,85,3.29,MA,2022-11-24 18:09:12
1,Vila Franca Do Campo,37.7167,-25.4333,64.20,71,46,2.84,PT,2022-11-24 18:09:12
2,Port Alfred,-33.5906,26.8910,65.17,76,100,4.00,ZA,2022-11-24 18:09:12
3,Ushuaia,-54.8000,-68.3000,56.86,35,75,18.41,AR,2022-11-24 18:04:14
4,Cape Town,-33.9258,18.4232,63.09,54,59,5.99,ZA,2022-11-24 18:06:32
5,Orebro,59.2741,15.2066,37.26,70,75,2.30,SE,2022-11-24 18:09:13
6,Mahibadhoo,3.7833,72.9667,79.99,81,78,12.24,MV,2022-11-24 18:09:13
7,Lagoa,39.0500,-27.9833,60.71,58,64,14.12,PT,2022-11-24 18:09:14
8,Villazon,-22.0866,-65.5942,66.63,9,35,17.13,BO,2022-11-24 18:09:14
9,Kaoma,-14.7833,24.8000,65.71,86,87,3.13,ZM,2022-11-24 18:09:14

In [65]:
new_column_order = ["City","Country","Date","Lat","Lng","Max Temp","Humidity","Cloudiness","Wind Speed"]
city_data_df = city_data_df[new_column_order]
city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Tiznit,MA,2022-11-24 18:09:12,29.5833,-9.5000,66.07,41,85,3.29
1,Vila Franca Do Campo,PT,2022-11-24 18:09:12,37.7167,-25.4333,64.20,71,46,2.84
2,Port Alfred,ZA,2022-11-24 18:09:12,-33.5906,26.8910,65.17,76,100,4.00
3,Ushuaia,AR,2022-11-24 18:04:14,-54.8000,-68.3000,56.86,35,75,18.41
4,Cape Town,ZA,2022-11-24 18:06:32,-33.9258,18.4232,63.09,54,59,5.99

In [66]:
# Create the output file (CSV).
output_data_file = "World_Weather_Analysis/weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")